html, body{
	font-family: monospace;
	margin: 0;
	padding: 0;
	height: 100%;
}

input:focus,button:focus{
	outline: none;
}

#timer-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

#study-container{
	background-color: burlywood;
	width: 50%;
}

@keyframes fadein{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.timer-area{
	text-align: center;
	animation: fadein 2s;

}


#break-cover{
	position: relative;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 1;
	width: 50%;
	height: 100%;
}

#break-cover > p{
	color: white;
	position: relative;
	top: 45%;
	font-size: 30px;
	margin: 25px;
	animation: fadein 3s;
}


#study-area{
	font-size: 2rem;
}


.number-input {
	width: 50px;
	height: 50px;
	font-size: 30px;
}


.timer-btns{
	display: inline-block;
	position: relative;
	padding: 10px 40px;
	border: 0px solid;
	border-radius: 2px;
}

.start-btns{
	padding: 10px 40px;
	border: 0px solid;
	border-radius: 2px;
}

.start-timer{
	margin: 10px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	display: none;
	margin: 0;
}

