<%- include("header") %> 
    <div id="timer-container">
        <% timeTemplate.forEach(element=>{ %>
            <div id="timer-date"><span><%= element.timerName %> <%= element.date %></span>
            <% element.savedTime.forEach(time=>{ %>
                <div id="timer-times"> <%= time %>  </div>
            <% }) %></div>    
        <% }) %> 
    </div>
</body>
</html>