:root{
	--box-colour: hsl(0, 84%, 64%);
	--btn-text: #e5e5e5;
	--dark-contrast: #222831;
}

html,
body {
	font-family: "Poppins", sans-serif;
	background-color: var(--dark-contrast);
	display: flex;
	flex-direction: column;
}

h1 {
	margin: 0;
}

button:focus {
	outline: none;
}

#timer-title,
#timer-content,
#timer-zone span{
	color: white;
	text-align: center;
}

#timer-title {
	font-size: 3rem;
}

#timer-content {
	font-size: 1.5rem;
	margin: 3rem 1rem;
}


#timer-zone {
	background-color: var(--box-colour);
	width: 80%;
	margin: 0 auto;
	padding: 2rem;
}

#timer-zone span {
	margin-top: 2rem;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeColourin {
	from {
		background-color: #30475e;
	}

	to {
		background-color: #1b2835;
	}
}

.timer-area {
	text-align: center;
}

#saved-container {
	width: 70%;
	margin: 2rem auto;
	background-color: #e5e5e5;
}

#saved-container #savedTimes-table #savedTimes-header {
	position: sticky;
	background-color: #30475e;
	color: #e5e5e5;
	padding: 2rem 0;
	font-size: 1.5rem;

}


tr #temp-time:first-child {
	animation: fadein 0.5s;
}


#savedTimes-body > div:nth-child(even) {
	background-color: #adadad;
}


#timer-design {
	width: 80%;
	height: 25px;
	background-color: #30475e;
	margin: 0 auto;
}

#saved-container::-webkit-scrollbar {
	width: 10px;
}

#saved-container::-webkit-scrollbar-thumb {
	background-color: black;
}

#savedTimes-header{
	text-align: center;
}

.times, .f-times {
	padding: 2rem 0;
	font-size: 1.5rem;
}

.times:first-child {
	animation: fadein 1s;
}

#timer-zone span {
	font-size: 6rem;
	font-family: monospace;
}

#work-btns {
	background-color: #30475e;
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.timer-btns {
	padding: 0.5rem 3.22rem;
	background-color: #30475e;
	color: white;
	font-size: 2rem;
	font-weight: 700;
	user-select: none;
	-webkit-user-select: none;
}

.timer-btns:hover {
	background-color: #1b2835;
	animation-name: fadeColourin;
	animation-duration: 0.5s;
	cursor: pointer;
}


/* Modal CSS */

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
#modal-btn{
	padding: 2rem 4rem;	
	align-self: center;
	font-size: 2rem;
	background-color: var(--box-colour);
	color: var(--btn-text);
	border: none 0;
	cursor: pointer;
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 50px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

textarea {
	resize: none;
}

/* Fixing the Saved Times Tables by changing it to the Div table */

#savedTimes-body > div, #savedTimes-header{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	text-align: center;
}